@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Car Catalogue</h1>
</div>

<div class="car_img">
    <div class="img_container">
        <img src="~/CarImages/camry.jpg" class="img-fluid" alt="No picture">
    </div>
    
</div>
